.waf-widget.waf-modaldialog {

	background-color:white;

	border: 3px solid dodgerblue;

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

/*
Properties for the fade div to have the full window black behind the modal dialog widget
*/
.fadeModal{
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: .80;
	z-index: 1000000000;
}

/*
Properties for the modal dialog to be centered in the middle of the page and to never be bigger the page
the !important statement is to prevent override of the properties
*/
.centerModal{
	margin: auto !important;
	max-width:90%; /*Don't allow the width to be bigger than the page, 90% is to have a small margin*/
	max-height:90%; /*Don't allow the height to be bigger than the page, 90% is to have a small margin*/

	right: 0px !important;
	left: 0px !important;

	top:0px !important;
	bottom : 0px !important;
	z-index:1000000001 !important;
}

.modalDialogButton{
	position:absolute;
	width:24px;
	height:24px;
	right:-24px;
	top:-24px;
		
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}